<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price leva:</b>
  <%= @product.price_leva %>
</p>

<p>
  <b>Price euro:</b>
  <%= @product.price_euro %>
</p>

<p>
  <b>Price dolar:</b>
  <%= @product.price_dolar %>
</p>

<p>
  <b>Labels:</b>
  <%= @product.labels %>
</p>

<p>
  <b>Stock:</b>
  <%= @product.stock %>
</p>

<p>
  <b>Rating:</b>
  <%= @product.rating %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
